.search input {
  margin: 1rem 0;
}

.sims {
  list-style-type: none;
  padding: 0;
}

.sims li {
  display: grid;
  grid-template-columns: min-content max-content 1fr max-content max-content;
  grid-template-areas: "badge name . edit delete";
  margin: 1rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
}

.sims li .badge {
  grid-area: badge;
}

.sims li .name {
  grid-area: name;
}

.sims li button {
  margin: 0.3rem;
  padding: 0.3rem 0.8rem;
}

.sims li button.edit {
  grid-area: edit;
}

.sims li button.delete {
  grid-area: delete;
}

.sims li button:hover,
.heros li button:focus {
  color: #eee;
  background-color: #000;
}

.sims .badge {
  padding: 0.5rem 0.6rem;
  color: white;
  background-color: #435b60;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.sims input {
  max-width: 12rem;
  padding: 0.25rem;
}

@media (max-width: 550px) {
  .sims li {
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: 2rem max-content;
    grid-template-areas:
      "badge name name"
      "badge edit delete";
  }

  .sims li .name {
    margin-top: 0.3rem;
  }

  .sims li button {
    justify-self: center;
  }
}
